<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825565026140-nksio41rqf423i9bcjujb5e9r6n4j8h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825565026140-nksio41rqf423i9bcjujb5e9r6n4j8h0</string>
	<key>API_KEY</key>
	<string>AIzaSyD9nJQSQSkFJpL-fN7a60i04DxbrJ42swM</string>
	<key>GCM_SENDER_ID</key>
	<string>825565026140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ok.Swift-Challenge</string>
	<key>PROJECT_ID</key>
	<string>swift-challenge-d848a</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-challenge-d848a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825565026140:ios:6ca74c89264ec9bab65399</string>
</dict>
</plist>